@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';

.w300 {
  width: 300px;
}

.small-border {
  padding-inline-start: 0.3rem;
  padding-inline-end: 0.3rem;
}

.nowrap {
  white-space: nowrap;
}

.tr-green td {
  border-color: hsl(141, 71%, 48%) !important;
}

.tr-red td {
  border-color: hsl(348, 100%, 61%) !important;
}

.tr-yellow td {
  border-color: hsl(48, 100%, 67%) !important;
}

.tr-green:hover {
  background-color: hsl(141, 71%, 48%) !important;
}

.tr-red:hover {
  background-color: hsl(348, 100%, 61%) !important;
}

.tr-yellow:hover {
  background-color: hsl(48, 100%, 67%) !important;
}

.tr-green td:first-child {
  background-color: hsl(141, 71%, 48%) !important;
}

.tr-red td:first-child {
  background-color: hsl(348, 100%, 61%) !important;
}

.tr-yellow td:first-child {
  background-color: hsl(48, 100%, 67%) !important;
}
