@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';

.w300 {
  width: 300px;
}

.small-border {
  padding-inline-start: 0.3rem;
  padding-inline-end: 0.3rem;
}

.nowrap {
  white-space: nowrap;
}

.td-green-hover:hover {
  background-color: hsl(141, 71%, 48%) !important;
}

.td-red-hover:hover {
  background-color: hsl(348, 100%, 61%) !important;
}

.td-yellow-hover:hover {
  background-color: hsl(48, 100%, 67%) !important;
}

.td-green {
  background-color: hsl(141, 71%, 48%) !important;
}

.td-red {
  background-color: hsl(348, 100%, 61%) !important;
}

.td-yellow {
  background-color: hsl(48, 100%, 67%) !important;
}

.v-center {
  vertical-align: middle;
}
